<footer class="footer mt-auto py-3 bg-dark text-light fixed-bottom">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2">
      <div class="col mb-3 mb-sm-0 text-center text-sm-start">
        <span class="d-block d-sm-inline-block">&copy; {{year}} Dance Studio</span>
        <span class="d-none d-md-inline-block ms-md-2">All rights reserved</span>
      </div>
      <div class="col text-center text-sm-end">
        <div class="d-flex justify-content-center justify-content-sm-end gap-3">
          <a href="#" class="text-light"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-light"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-light"><i class="bi bi-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
